<div class="page-header" ng-show="isLoggedIn()">
                <h3 ng-show="isLoggedIn()">
                    <span ng-show="taskrequest.taskrequest.taskname">
                        Name: {{taskrequest.taskrequest.taskname}}
                    </span>
                    <br>
                    <span ng-show="taskrequest.applicantdata.name">
                        Taker name: {{taskrequest.applicantdata.name}}
                    </span>
                    <br>
                    <span ng-show="taskrequest.applicantdata.email">
                        Taker email: {{taskrequest.applicantdata.email}}
                    </span>
                    <br>
                    <span ng-show="taskrequest.applicantdata.phone">
                        Taker phone: {{taskrequest.applicantdata.phone}}
                    </span>
                    <br>
                    <span ng-show="taskrequest.applicantdata.school">
                        Taker school: {{taskrequest.applicantdata.school}}
                    </span>
                    <br>
                    <span ng-show="taskrequest.taskrequest.organization && isUser()">
                        Creator: {{taskrequest.taskrequest.orgname}}
                    </span>
                    <br>
                    <span ng-show="taskrequest.taskrequest.info">
                        Taker Info and qualifications: {{taskrequest.taskrequest.info}}
                    </span>
                    <br>
                    <span>
                        Approved: {{taskrequest.taskrequest.approved}}
                    </span>
                </h3>

                <div ng-show="isLoggedIn() && isUser()">
                    <form ng-submit="editTaskRequest()" ng-show="isLoggedIn()" style="margin-top:30px;">
                        <h3>Edit Taskrequest</h3>

                        <div class="form-group">
                            <textarea type="text" class="form-control" rows="5"  placeholder="Update your qualifications" ng-model="taskrequest.taskrequest.info"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>

                </div>

                    <br>

                    <div ng-show="isLoggedIn() && isUser()" class="row">
                        <div class="col-sm-2">
                            <form ng-submit="deleteTaskRequest()">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>

                   <div ng-show="isLoggedIn() && isOrganization()" class="row">
                        <div class="col-sm-2">
                            <form ng-submit="approve()">
                                <button type="submit" class="btn btn-primary">Approve</button>
                            </form>
                        </div>
                    </div>



</div>
