<div class="page-header" ng-show="isLoggedIn()">
                <h3>
                    <span ng-show="task.name">
                        Name: {{task.name}}
                    </span>

                    <br>
                    <span ng-show="task.description">
                        Description: {{task.description}}
                    </span>
                    <br>
                    <span ng-show="task.hours">
                        Hours: {{task.hours}}
                    </span>
                    <br>
                    <span ng-show="task.organization">
                        Creator: {{orgname}}
                    </span>
                </h3>

                <div ng-show="isOrganization()" class="panel-group" id="accordion" ng-repeat="taskcomponent in taskcomponents">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">{{taskcomponent.name}}</a>
                      </h4>
                    </div>
                    <div class="panel-collapse collapse in" id="collapse1">
                      <h4 ng-show="taskcomponent.requirements">Requirements: {{taskcomponent.requirements}}</h4>
                      <h4 ng-show="taskcomponent.due">Due date: {{taskcomponent.due}}</h4>
                      <h4 ng-show="taskcomponent.esthours">Estimated hours for completion: {{taskcomponent.esthours}}</h4>
                      <form ng-submit="editTaskComponent(taskcomponent._id)" style="margin-top:30px; margin-left:20px; margin-right:20px; margin-bottom: 20px;">
                          <h4>Edit Taskcomponent</h4>
                          <div class="form-group">
                              <textarea type="text" class="form-control" rows="5" ng-init="tc.requirements=taskcomponent.requirements" ng-model="tc.requirements"></textarea>
                          </div>

                          <div class="form-group">
                              <h4> Modify Due Date: </h4>
                              <input type="date" class="form-control" ng-model="tc.due"></input>
                          </div>

                          <div class="form-group">
                              <input type="number" class="form-control" placeholder="Estimated hours for completion" ng-init="tc.esthours=taskcomponent.esthours" ng-model="tc.esthours"></input>
                          </div>
                          <button type="submit" class="btn btn-primary">Save Changes</button>
                      </form>

                      <div style="margin-left:30px; margin-bottom: 30px;">
                        <form ng-submit="deleteTaskComponent(taskcomponent._id)">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                      </div>

                    </div>
                  </div>
                </div>

                <h2>Create task components</h2>
                <form ng-submit="createTaskComponent()" style="margin-top:30px;">
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Name" ng-model="taskc.name"></input>
                  </div>
                  <div class="form-group">
                      <textarea type="text" class="form-control" rows="5"  placeholder="Set the requirements" ng-model="taskc.requirements"></textarea>
                  </div>
                  <div class="form-group">
                      Enter a due date for this component:
                      <input type="date" class="form-control" ng-model="taskc.due"></input>
                  </div>
                  <div class="form-group">
                      <input type="number" class="form-control" placeholder="Estimated hours" ng-model="taskc.esthours"></input>
                  </div>

                  <button type="submit" class="btn btn-primary">Create task component</button>
                </form>

                <div ng-show="isLoggedIn() && isOrganization()">
                    <form ng-submit="editTask()" ng-show="isLoggedIn()" style="margin-top:30px;">
                        <h3>Edit Task</h3>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name" ng-model="task.name"></input>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Description" ng-model="task.description"></input>
                        </div>

                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Hours" ng-model="task.hours"></input>
                        </div>
                        <button type="submit" class="btn btn-primary">Save Task</button>
                    </form>

                    <br>

                    <div class="row">
                        <div class="col-sm-2">
                            <form ng-submit="deleteTask()">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>

                </div>

                <div ng-show="isLoggedIn() && isUser()">
                    <!--<a class="btn btn-success" href="#/tasks/{{task._id}}/signUp.html">Request Task</a>-->
                    <h1>Request Task</h1>
                    <div>
                        <form ng-submit="submitRequest()" style="margin-top:30px;">
                            <h3>Fill out the following</h3>

                            <div class="form-group">
                                <textarea type="text" class="form-control" rows="5"  placeholder="Briefly describe your qualifications" ng-model="info"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
</div>
