<div class="page-header" ng-show="isLoggedIn()">
                <h3>
                    <span ng-show="taskrequest.taskname">
                        Name: {{taskrequest.taskname}}
                    </span>
                    <br>
                    <span ng-show="taskrequest.takername">
                        Your name: {{taskrequest.takername}}
                    </span>
                    <br>
                    <span ng-show="taskrequest.email">
                        Your email: {{taskrequest.email}}
                    </span>
                    <br>
                    <span ng-show="taskrequest.school">
                        Your school: {{taskrequest.school}}
                    </span>
                    <br>
                    <span ng-show="taskrequest.organization">
                        Creator: {{taskrequest.orgname}}
                    </span>
                </h3>    
                
                <div ng-show="isLoggedIn() && isUser()">
                    <form ng-submit="editTaskRequest()" ng-show="isLoggedIn()" style="margin-top:30px;">
                        <h3>Edit Taskrequest</h3>
                                
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name" ng-model="taskrequest.takername"></input>
                        </div>
                        
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email" ng-model="taskrequest.email"></input>
                        </div>
                        
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="School" ng-model="taskrequest.school"></input>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                    
                    <br>

                    <div class="row">
                        <div class="col-sm-2">
                            <form ng-submit="deleteTaskRequest()">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                    
                </div>

</div>